html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video, ul, li{
    padding-left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* restablecer css */
/* restablecer css */
/* restablecer css */
/* restablecer css */





.active {
    color: gray;
}

.navbar {
    background-color: rgb(19, 19, 19);
}

.contenedor-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

.contenedor-item div {
    width: 33.33%;
    height: auto;
    /* overflow: hidden; */
}

.contenedor-item div img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.textos-item {
    width: 80%;
    height: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textos-item h2 {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.textos-item p {
    width: 100%;
    font-size: 1.2rem;

    padding: 10px;
}

.comprar-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.detail-conteiner {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.detail-conteiner img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}

.texto-detalle {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.texto-detalle h5 {
    font-size: 1.5rem;
    font-weight: 800;
    border-bottom: .5px solid gray;
}

.texto-detalle p {
    font-size: medium;
}

.container-counter {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item-detail {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .detalle-producto {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #8787876d;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    border-radius: 5px;
    color: white;
}

.conteiner-img {
    object-fit: contain;
    width: 100%;
}

.btn-16 {
    border: none;
    color: #000;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

button {
    margin: 0px 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #202020;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


.carrito {
    cursor: pointer;
    margin-right: 50px;
}

.contenedor-carrito {
    width: 100%;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2b2b2b85;
}

.lista-carrito {
    background-color: rgba(255, 255, 255, 0.615);
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(99, 99, 99, 0.619) 0px 2px 8px 0px;

}

.item-carrito {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2020203e;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.item-carrito img {
    width: 20%;
    height: 100%;
    border-radius: 0px 5px 0px 5px;
    object-fit: contain;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.cards .card {
    min-width: 300px;
    min-height: 80vh;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 1.3fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "grid-1-card"
        "grid-2-card"
        "grid-3-card";

}

.cards .card img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.cards .card .descripcion-card {
    min-height: 30vh;
}

.grid-1-card {
    grid-area: grid-1-card;
}

.grid-2-card {
    grid-area: grid-2-card;
}

.grid-3-card {
    grid-area: grid-3-card;
}

.item-detail .contenedor-img img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.container-checkout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }
.productos-checkout{
    width: 50%;
    height: 80vh;
    display: grid; 
    grid-template-rows: 15% 85%;
    grid-template-columns: 1fr;
    gap: 0px;
    justify-items: center;
    min-height: 80vh;
}
.productos-checkout h4{
    margin-top: 20px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.lista-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.product-checkout{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin-top: 10px;
}

.product-checkout img{
    width: 20%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.datos-checkout {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.datos-checkout form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}

.datos-checkout form input{
    margin-top: 10px;
}

.datos-checkout form button{
    margin-top: 10px;
}
.container-spinner{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}